body 
{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:helvetica;
 background-color:#424242;
}
#wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:995px;
}
#rank_form p
{
 color:white;
 font-size:16px;
 font-weight:bold;
}
#rank_form input[type="text"]
{
 width:250px;
 height:40px;
 border:none;
 padding-left:10px;
 font-size:16px;
}
#rank_form input[type="submit"]
{
 background-color:#2E2E2E;
 height:42px;
 border:none;	
 color:white;
 width:50px;
 font-size:16px;
}
.rank_para
{
 color:white;
}
